{% extends "base.html" %}
{% load static %}

{% block title %}Блог{% endblock %}

{% block content %}
<h2>Добро пожаловать на мой сайт!</h2>

<img src="{% static 'images/laptop.jpg' %}" alt="Ноутбук">

<div class="notice">
    Этот сайт посвящен созданию проектов с использованием фреймворка Django. Вот несколько ссылок на полезные ресурсы.
    <ul>
        <li>
            📚 <a href="https://docs.djangoproject.com/" target="_blank">Документация Django</a>
        </li>
        <li>
            🎓 <a href="https://docs.djangoproject.com/en/stable/intro/tutorial01/" target="_blank">Учебник Django</a>
        </li>
        <li>
            🛠️ <a href="https://djangopackages.org/" target="_blank">Django Packages</a>
        </li>
    </ul>
</div>

{% for post in posts %}
<article>
    <a href="{% url 'post-detail-page' post.slug %}">
        <h3>{{ post.title }}</h3>
    </a>
    <small>{{ post.date }}</small>
    <p>{{ post.excerpt }}</p>

    <div>
        {% for tag in post.tags.all%}
        <code>#{{ tag }}</code>
        {% endfor %}
    </div>
</article>
{% endfor %}


{% endblock %}