:root {
    font-size: 0.9rem;
    --bg: #1c262b;
    --accent-bg: #2a3a43;
}

.header {
    padding: 1rem;
}

.header button {
    padding: 0.3rem;
    background-color: inherit;
    color: var(--accent);;
    margin-left: 0.5rem;
}

a {
    text-decoration: none;
}