{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>{% block title %}Django site{% endblock %}</title>
    <link rel="stylesheet" href='{% static "app.css" %}'>
    <link rel="icon" href="{% static 'favicon.png' %}" type="image/png">
</head>

<body>
    <header class="header">

        <h1>Django Simple Project</h1>

        <nav>
            <a href="/">Главная</a>
            <a href="/posts">Блог</a>
            <a href="/contacts">Контакты</a>
            <a href="/about">О проекте</a>
        </nav>

    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>

        <p>Django Site Test Project, 2025</p>

    </footer>
</body>

</html>